@font-face {
  font-family: "Baloo Thambi 2";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/BalooThambi2-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Baloo Thambi 2";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/BalooThambi2-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Baloo Thambi 2";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/BalooThambi2-Bold.ttf") format("truetype");
}
